
<div class="card border-dark mb-3" style="max-width: 15rem;">
    <div class="text-center">
        <div class="card-header">@Day</div>
        <div class="card-body">
            <h5 class="card-title">@min ºC/@max ºC</h5>
            <p class="card-text">@summary</p>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string Day { get; set; }
    [Parameter]
    public float min { get; set; }
    [Parameter]
    public float max { get; set; }
    [Parameter]
    public string summary { get; set; }
}